/*-- COLORS --*/

$color-black : #000000;
$color-white: #ffffff;

$color-gray: #4a4a4a;
$color-gray--light: #686868;

$color-google-oauth: #4285f4;
$color-google-oauth--dark: #3974d0;

$color-warning: #ce2424;

/*-- FONTS --*/

$font-primary: 'Open Sans Condensed', sans-serif;